parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludes_analyse:
        - 'src/Configuration/RouteConfiguration.php'
    ignoreErrors:
        - '#Constant APP_ROOT_PATH not found#'
